<h1>$word.getText()</h1>

<hr>

<h3>Common Definitions:</h3>
#foreach ($definition in $word.getDefinitions())
  <li><h4>$definition.getText()</h4></li>
#end

<hr>

<form action="/definition" method="post">
  <input id="wordId" name="wordId" type="hidden" value="$word.getId()">

  <div class="">
    <label for="text">Add Your Definition Here</label>
    <input id="text" name="text" type="text">
    <button type="submit" class="btn btn-default">Add slang!</button>
  </div>

</form>
